﻿<div class="jumbotron">
    <h1>API WEB</h1>
    <p class="lead">API WEB PARA O CRUD DE PESSOAS NEPPO.</p>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Metódos</h2>
        <p>Clique em api  para ver os metódos</p>
        <div class="btn btn-lg btn-default">@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)
   </div>
   
</div>